@charset "utf-8";

header{
	float:left;
	border-top: solid #999999 1px;
	border-bottom: solid #3361ad 3px;
	width: 1220px;
}

#heder_top {
	width:960px;
	height:104px;
	margin:0 auto;
}

#header_second{
	width:960px;
	height:114px;
	margin:0 auto;
}

#header-print {
	width:960px;
	margin:0 auto;
	height:74px;
}

#print-tel {
	float:left;
	width:329px;
	height:46px;
	background:url(../img/background/print_header_tel.jpg) no-repeat;
}

#botton160 {
	width:160px;
	height:24px;
	background: url(../img/background/close_window_bt.gif) no-repeat;
}

#botton160 a{
	display:block;
	width:100%;
	height:100%;
}

#description {
	float:left;
	width:422px;
	height:20px;
	margin: 10px 0 0 0;
	background: url(../img/background/header_description.jpg)no-repeat;
}

#sns {
	float:right;
	width:180px;
	height:20px;
	margin: 10px 0 0 10px;
}

#header-tel {
	float:left;
	width:612px;
	height:35px;
	background: url(../img/background/tel_fax02.jpg)no-repeat;
}

nav {
	float:right;
	width:565px;
	height:26px;
}

nav div#herder_menu {
  float:left;
  vertical-align: top;
  width:90px;
  height:26px;
}


nav div#herder_menu a {
	display: block;
	height: 100%;
	width: 100%;
}




nav li img {
  vertical-align: top;
}


/*　ヘッダーメニュー02　*/

div#header_menu {
	float:left;
	width:612px;
	height:39px;
}

div#header_menu a {
	display: block;
	height: 100%;
	width: 100%;
}


div#header_menu div#header_menu01 {
	float:left;
	width:97px;
	height:39px;
	background:url(../img/button/header_menu01.jpg) no-repeat;
}

div#header_menu div#header_menu02 {
	float:left;
	width:121px;
	height:39px;
	background:url(../img/button/header_menu02.jpg) no-repeat;
}

div#header_menu div#header_menu03 {
	float:left;
	width:122px;
	height:39px;
	background:url(../img/button/header_menu03.jpg) no-repeat;
}

div#header_menu div#header_menu04 {
	float:left;
	width:132px;
	height:39px;
	background:url(../img/button/header_menu04.jpg) no-repeat;
}

div#header_menu div#header_menu05 {
	float:left;
	width:140px;
	height:39px;
	background:url(../img/button/header_menu05.jpg) no-repeat;
}


/*　ヘッダー検索　*/

div#header_search {
	float:left;
	width:1220px;
	height:36px;
	background:#eaf4ff;
	margin:0 auto;
}

div#search_frame {
	width:960px;
	height:36px;
	margin:0 auto;
}


div#crumb_right02 {
	float:right;
	width:auto;
	height:36px;
	font-size:12px;
	line-height:36px;
}

div#crumb_right02 img{
	vertical-align:middle;
}